body, button, input, textarea {
  font-family: "Inter", sans-serif!important; 
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden; /* Disable scrolling */
}